cerberus
codecov
jinja2
numpy
onnx
onnxmltools
packaging
pandas
protobuf
pytest
pytest-cov
scikit-learn
scipy
sympy
wheel
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
